<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order Detail</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/resources/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!--     Libraries Stylesheet -->
    <link href="/resources/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/resources/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/resources/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/resources/css/style.css" rel="stylesheet">

    <link href="/resources/css/personal/home.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link href="/resources/css/personal/room-list.css" rel="stylesheet">

    <link href="/resources/css/personal/booking-detail.css" rel="stylesheet">
</head>
<body>
<div class="container-xxl bg-white p-0">
    <div class="container-fluid bg-white">
        <div class="container-lg py-5">
            <div class="container row">
                <div class="booking-form-body room-details mb-3 col-lg-8 col-md-12">
                    <h3 class="mb-20 text-primary">Order Information</h3>
                    <p>Place On: <strong th:text="${order.orderDate.format(dateTimeFormatter)}"></strong></p>
                    <p>Start: <strong th:text="${order.startDatetime.format(formatter)}"></strong></p>
                    <p>End: <strong th:text="${order.endDatetime.format(formatter)}"></strong></p>
                    <p>Rooms: <strong th:text="${order.roomOrderEntities.size()}"></strong></p>
                    <p>Rooms Number: <strong th:each="room : ${order.roomOrderEntities}"
                                           th:text="${room.roomDetailEntities.roomEntity.roomNumber}+' - '"></strong></p>
                    <p>Adults: <strong th:text="${order.adults}"></strong></p>
                    <p>Children: <strong th:text="${order.childs}"></strong></p>
                    <p>Status: <strong th:text="${order.status}"></strong></p>
                    <p th:if="${order.roomBookingEntity!=null}">Check In:
                        <strong th:text="${order.roomBookingEntity.checkIn.format(dateTimeFormatter)}"></strong></p>
                    <p th:if="${order.roomBookingEntity!=null&&order.roomBookingEntity.checkOut!=null}">Check Out:
                        <strong th:text="${order.roomBookingEntity.checkOut.format(dateTimeFormatter)}"></strong></p>
                </div>
                <div class="col-lg-4 col-md-12">
                    <h3 class="mb-20 text-primary">Account Information</h3>
                    <p>Account ID: <strong th:text="${order.accountEntity.id}"></strong></p>
                    <p>Username: <strong th:text="${order.accountEntity.username}"></strong></p>
                    <p>Email: <strong th:text="${order.accountEntity.email}"></strong></p>
                    <p>Phone: <strong th:text="${order.accountEntity.phone}"></strong></p>
                    <p>Status: <strong th:text="${order.accountEntity.status}"></strong></p>
                </div>
                <div class="booking-form-body room-details mb-45">
                        <h4 class="mb-20 text-primary">Price Breakdown</h4>
                        <div class="bookingtable table-responsive mb-20">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th><strong>Total Amount</strong></th>
                                    <td><strong th:text="${order.amount} + '$'"></strong></td>
                                </tr>
                                <th:block th:if="${order.amountRefunds > 0}">
                                    <th><strong>Refunds Amount</strong></th>
                                    <td><strong th:text="${order.amountRefunds} + '$'"></strong></td>
                                </th:block>
                                </thead>
                                <tbody id="demo" class="collapse show">
                                <th:block th:switch="${order.couponEntity}">
                                    <th:block th:case="null">
                                        <tr>
                                            <th><strong>Coupon Used</strong></th>
                                            <td><strong>No</strong></td>
                                        </tr>
                                    </th:block>
                                    <th:block th:case="*">
                                        <tr>
                                            <th><strong>Coupon Used</strong></th>
                                            <td><strong th:text="${order.couponEntity.code}"></strong></td>
                                        </tr>
                                        <tr>
                                            <th>Room Type Applies</th>
                                            <th:block th:with="roomType=${order.couponEntity.couponTypeEntity.roomTypeEntity}">
                                                <td><a th:text="${roomType.name}+' '+${roomType.roomBedType.name}+' Bed'"></a></td>
                                            </th:block>
                                        </tr>
                                        <tr>
                                            <th>Coupon Discount</th>
                                            <td th:text="${order.couponEntity.couponTypeEntity.discount}+'%'"></td>
                                        </tr>
                                        <tr>
                                            <th>Discount Amount</th>
                                            <td th:text="${order.amountDiscount}+'$'"></td>
                                        </tr>
                                    </th:block>
                                </th:block>
                                <tr>
                                    <th><strong>Rooms Amount</strong></th>
                                    <td th:text="${order.roomAmount}+'$'"></td>
                                </tr>
                                <th:block th:each="roomOrder: ${order.roomOrderEntities}">
                                    <tr>
                                        <th><strong th:text="${roomOrder.roomDetailEntities.roomEntity.roomTypeEntity.name}
                                        +' '+${roomOrder.roomDetailEntities.roomEntity.roomTypeEntity.roomBedType.name}+' Bed'"></strong></th>
                                        <td><strong th:text="${roomOrder.roomDetailEntities.roomEntity.roomTypeEntity.pricePerNight}*(${order.hoursDuration}/8.0)+'$'"></strong></td>
                                    </tr>
                                    <tr>
                                        <th>Adults</th>
                                        <td th:text="${roomOrder.adults}"></td>
                                    </tr>
                                    <tr>
                                        <th>Children</th>
                                        <td th:text="${roomOrder.childs}"></td>
                                    </tr>
                                </th:block>
                                <tr th:hidden="!${order.roomsService}">
                                    <th><strong>Room Service Amount</strong></th>
                                    <td><strong th:text="${order.roomServiceAmount}+'$'"></strong></td>
                                </tr>
                                <tr th:hidden="!${order.massageServices}">
                                    <th><strong>Massage Service Amount</strong></th>
                                    <td><strong th:text="${order.massageServiceAmount}+'$'"></strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <a th:if="${order.roomBookingEntity != null && order.roomBookingEntity.checkOut!=null}" class="btn btn-success btn-sm rounded-2 py-2 px-5 mb-3" th:href="@{/user/order/billing(orderId=${order.id})}">Bill</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>