<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Room Type Manage</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/resources/css/manager/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/resources/css/manager/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/resources/css/manager/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/resources/css/manager/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/resources/css/manager/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/resources/css/manager/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/resources/css/manager/images/favicon.png" />
<!--manuel add-->
  <link rel="stylesheet" href="/resources/css/fontawesome.css" />

  <link rel="stylesheet" href="/resources/css/receptionist/vendor/fonts/boxicons.css" />
</head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel" style="width: 100%">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Room Type Detail Update </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Room type</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Room Type Detail Update</li>
                </ol>
              </nav>
            </div>
            <form class="forms-sample" action="/manager/room-type-detail/update" method="post"
                  th:object="${roomTypeDetail}" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Main Content</h4>
                      <input type="hidden" th:field="*{roomType.id}">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="type-name">Type name</label>
                            <input type="text" class="form-control" id="type-name" th:placeholder="${roomType.name}"
                              th:field="*{roomType.name}" required>
                          </div>
                          <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" id="price" step="any" th:placeholder="${roomType.pricePerNight}"
                                   th:field="*{roomType.pricePerNight}" required>
                          </div>
<!--                          <div class="form-group">-->
<!--                            <label for="capacity">Capacity</label>-->
<!--                            <input type="number" class="form-control" id="capacity" th:placeholder="${roomType.capacity}"-->
<!--                                   th:field="*{roomType.capacity}" required>-->
<!--                          </div>-->
                          <div class="form-group">
                            <label for="type-bed">Type bed</label>
                            <select class="form-control" id="type-bed" th:field="*{roomType.roomBedType.name}">
                              <th:block th:each="name :${bedList}">
                                <option th:text="${name}" th:value="${name}"></option>
                              </th:block>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="descriptions">Description</label>
                            <textarea class="form-control" id="descriptions" rows="2" th:placeholder="${roomType.description}"
                                      th:field="*{roomType.description}" required></textarea>
                          </div>
                        </div>
                        <input type="hidden" th:field="*{id}">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="size">Room area</label>
                            <input type="number" class="form-control" id="size" step="any" th:placeholder="${roomTypeDetail.size}"
                                   th:field="*{size}" required>
                          </div>
                          <div class="form-group">
                            <label for="content">Detail Content</label>
                            <textarea class="form-control" id="content" rows="4" th:placeholder="${roomTypeDetail.content}"
                                      th:field="*{content}" required></textarea>
                          </div>
                          <div class="row" style="padding: 0 9px; margin-bottom: 1.5rem">
                            <div class="form-check form-check-flat form-check-primary col-sm-3">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="freeWifi">
                              Free wifi</label>
                            </div>
                            <div class="form-check form-check-flat form-check-primary col-sm-3">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="hairDryer">
                                Hair dryer</label>
                            </div>
                            <div class="form-check form-check-flat form-check-primary col-sm-3">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="tv">
                                TV</label>
                            </div>
                            <div class="form-check form-check-flat form-check-primary col-sm-3">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="minibar">
                                Minibar</label>
                            </div>
                          </div>
                        </div>
                          <div class="form-check form-check-flat form-check-primary col-sm-3" style="margin-left: 9px">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="roomType.Active">
                              Active</label>
                          </div>
                          <button type="submit" class="btn btn-primary mr-2">Submit</button>
                          <a class="btn btn-light" href="/manager/room-type" style="padding-top: 16px">Cancel</a>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card" th:each="image, items : ${roomType.roomTypeImageEntities}">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" th:text="${#strings.capitalize(image.name)}+' Picture'"></h4>
<!--                    <p class="card-description"> Horizontal form layout </p>-->
                      <div class="form-group">
                        <label >Descriptions</label>
                        <textarea class="form-control" rows="2" th:name="${image.name}+'Des'" th:placeholder="${image.description}" ></textarea>
                      </div>
                      <div class="form-group">
                        <label>File upload</label>
                        <input type="file" th:name="${image.name}+'Pic'" th:id="${image.name}+'Inp'" th:required="${roomType.id==null}"
                               class="file-upload-default" accept="image/*">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                      <img th:id="${image.name}+'Img'" th:src="${image.photo}" style="max-width: 100%">
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/resources/css/manager/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/resources/css/manager/vendors/select2/select2.min.js"></script>
    <script src="/resources/css/manager/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/resources/css/manager/js/off-canvas.js"></script>
    <script src="/resources/css/manager/js/hoverable-collapse.js"></script>
    <script src="/resources/css/manager/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/resources/css/manager/js/file-upload.js"></script>
    <script src="/resources/css/manager/js/typeahead.js"></script>
    <script src="/resources/css/manager/js/select2.js"></script>
    <!-- End custom js for this page -->
  <script>
    bedInp.onchange = evt => {
      const [file] = bedInp.files
      if (file) {
        bedImg.src = URL.createObjectURL(file)
      }
    };
    frontInp.onchange = evt => {
      const [file] = frontInp.files
      if (file) {
        frontImg.src = URL.createObjectURL(file)
      }
    };
    backInp.onchange = evt => {
      const [file] = backInp.files
      if (file) {
        backImg.src = URL.createObjectURL(file)
      }
    };
    bathInp.onchange = evt => {
      const [file] = bathInp.files
      if (file) {
        bathImg.src = URL.createObjectURL(file)
      }
    }
  </script>
  </body>
</html>