<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Search - Hotelvier</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/resources/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!--     Libraries Stylesheet -->
    <link href="/resources/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/resources/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/resources/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/resources/css/style.css" rel="stylesheet">

    <link href="/resources/css/personal/home.css" rel="stylesheet">

    <link href="/resources/css/personal/checkbox-style.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="/home" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 class="m-0 text-primary text-uppercase">Hotelvier</h1>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-0 bg-white d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                <i class="fa fa-map-marker-alt text-primary me-2"></i>
                                <p class="mb-0">123 Nguyen Trung Truc, Da Nang</p>
                            </div>
                            <div class="h-100 d-inline-flex align-items-center py-2">
                                <i class="fa fa-phone-alt text-primary me-2"></i>
                                <p class="mb-0">+012 345 6789</p>
                            </div>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="col-lg-3 px-5 text-end">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" th:text="${#authentication.name}"></a>
                                <div class="dropdown-menu rounded-0 m-0" >
                                    <a class="dropdown-item" href="#">Account</a>
                                    <a class="dropdown-item" href="/user/orders">Order History</a>
                                    <a class="dropdown-item" href="/process_logout">Logout</a>
                                </div>
                            </div>
                        </div>
                        <div sec:authorize="!isAuthenticated()" class="col-lg-5 px-5 text-end">
                            <div class="d-inline-flex align-items-center py-2">
                                <a class="me-3" href="/user/login">Login<i class="fa fa-sign-in-alt ms-1"></i></a>
                                <a class="me-3" href="/register">Register<i class="fa fa-user-plus ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="/home" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">Hotelvier</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="/home" class="nav-item nav-link active">Home</a>
                                <a href="#" class="nav-item nav-link">About</a>
                                <a href="#" class="nav-item nav-link">Services</a>
                                <div class="nav-item dropdown">
                                    <a href="/rooms" class="nav-link dropdown-toggle">Rooms</a>
                                    <div class="dropdown-menu rounded-0 m-0" >
                                        <a th:each="type : ${nameList}" th:href="@{/rooms/type/{typeName}(typeName=${type})}"
                                           class="dropdown-item" th:text="${type}"></a>
                                    </div>
                                </div>
                                <a href="#" class="nav-link nav-item">Pages</a>
                                <a href="contact.html" class="nav-item nav-link">Contact</a>
                            </div>
                            <a href="/search" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">
                                Book Now<i class="fa fa-arrow-right ms-3"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/resources/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-5 pb-2 animated slideInDown">Booking</h1>
                    <nav aria-label="breadcrumb">
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Booking Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6>
                    <h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Room</span></h1>
                </div>
                <div class="row g-5">
<!--                    <div class="col-lg-6">-->
<!--                        <div class="row g-3">-->
<!--                            <div class="col-6 text-end">-->
<!--                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="/resources/img/about-1.jpg" style="margin-top: 25%;">-->
<!--                            </div>-->
<!--                            <div class="col-6 text-start">-->
<!--                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="/resources/img/about-2.jpg">-->
<!--                            </div>-->
<!--                            <div class="col-6 text-end">-->
<!--                                <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="/resources/img/about-3.jpg">-->
<!--                            </div>-->
<!--                            <div class="col-6 text-start">-->
<!--                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="/resources/img/about-4.jpg">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form action="/user/booking" method="get">
                                <div class="row g-3 mb-4">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="coupon" name="coupon"
                                                   th:value="${couponEntity.code} == null ? ${coupon} : ${couponEntity.code}" required>
                                            <label for="coupon">Coupon Code:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="discount"
                                               th:value="${couponEntity.couponTypeEntity} == null ? 'No Discount' : ${couponEntity.couponTypeEntity.discount} + '%'" readonly>
                                            <label for="discount">Discount</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Apply</button>
                                    </div>
                                    <p th:text="${(coupon == '' or couponEntity.code != null )? '' : 'Coupon Invalid'}" class="text-danger" style="margin: 0"></p>
                                </div>
                            </form>
                            <form action="/user/booking/process" method="post" th:object="${order}">
                                <div class="row g-3">
<!--                                    <div class="col-md-6">-->
<!--                                        <div class="form-floating date" id="date3" data-target-input="nearest">-->
<!--                                            <input type="text" class="form-control datetimepicker-input" id="checkin" placeholder="Check In"-->
<!--                                                   data-target="#date3" data-toggle="datetimepicker" th:field="*{startDatetime}"/>-->
<!--                                            <label for="checkin">Check In</label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <div class="form-floating date" id="date4" data-target-input="nearest">-->
<!--                                            <input type="text" class="form-control datetimepicker-input" id="checkout" placeholder="Check Out"-->
<!--                                                   data-target="#date4" data-toggle="datetimepicker"  th:field="*{endDatetime}"/>-->
<!--                                            <label for="checkout">Check Out</label>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="rooms"
                                                   th:value="${totalRoom}" readonly>
                                            <label for="rooms">Rooms</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="adults"
                                                   th:value="${totalAdults}" readonly>
                                            <label for="adults">Adults</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="childs"
                                                   th:value="${totalChilds}" readonly>
                                            <label for="childs">Childs</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="checkin"
                                                   th:value="${checkIn.format(formatter)}" name="start" readonly/>
                                            <label for="checkin">Check In</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="checkout"
                                                   th:value="${checkOut.format(formatter)}" name="end" readonly/>
                                            <label for="checkout">Check In</label>
                                            </div>
                                    </div>
                                    <input type="hidden" th:value="${couponEntity.code}" name="couponCode">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="roomPrice"
                                                   th:value="${roomAmount}" readonly>
                                            <label for="roomPrice">Room Amount</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="priceDiscount"
                                                   th:value="${amountDiscount}" readonly>
                                            <label for="priceDiscount">Discount Amount</label>
                                        </div>
                                    </div>
<!--                                    <input type="hidden" th:field="*{amount}" th:value="${roomAmount} - ${amountDiscount}">-->
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="amount"
                                                   name="amount" th:value="${roomAmount.doubleValue()}-${amountDiscount.doubleValue()}" readonly>
                                            <label for="amount">Total Amount</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item mb-1">
                                            <div class="toggle-pill-color d-flex">
                                                <input type="checkbox" id="roomService" onclick="roomsServ()" name="roomsService">
                                                <label for="roomService"></label>
                                                <span class="ms-2">Rooms Service(The serving of food and drink)</span>
                                            </div>
                                        </div>
                                        <div class="form-floating" id="roomServiceAmount" style="display: none">
                                            <input type="number" class="form-control" id="roomsAmount"
                                                   th:value="${roomServiceAmount}" readonly>
                                            <label>Rooms Service</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item mb-1">
                                            <div class="toggle-pill-color d-flex">
                                                <input type="checkbox" id="massageService" onclick="massageServ()" name="massageServices">
                                                <label for="massageService"></label>
                                                <span class="ms-2">Massage Service(Performed by professionals)</span>
                                            </div>
                                        </div>
                                        <div class="form-floating" id="massageServiceAmount" style="display: none">
                                            <input type="number" class="form-control" id="massageAmount"
                                                   th:value="${massageServiceAmount}" readonly>
                                            <label>Massage Service</label>
                                        </div>
                                    </div>
<!--                                    <div class="col-md-6">-->
<!--                                        <div class="form-floating">-->
<!--                                            <select class="form-select" id="select1">-->
<!--                                              <option value="1">Adult 1</option>-->
<!--                                              <option value="2">Adult 2</option>-->
<!--                                              <option value="3">Adult 3</option>-->
<!--                                            </select>-->
<!--                                            <label for="select1">Select Adult</label>-->
<!--                                          </div>-->
<!--                                    </div>-->
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Booking</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
        <!-- Booking End -->

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer wow fadeIn mt-5" data-wow-delay="0.1s">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-primary rounded p-4">
                            <a href="/home"><h1 class="text-white text-uppercase mb-3">Hotelvier</h1></a>
                            <p class="text-white mb-0">
                                Thank you for choosing Hotelvier for your stay.
                                We are excited to have you stay with us and hope you have a comfortable and enjoyable visit.
                                We hope that this is just the first of many visits and that you will feel at home with us.
                                <!--                                <a class="text-dark fw-medium" href="https://htmlcodex.com/hotel-html-template-pro">Hotelvier</a>-->
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Nguyen Trung Truc, Da Nang</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>huadaivi@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row gy-5 g-4">
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                                <a class="btn btn-link" href="">About Us</a>
                                <a class="btn btn-link" href="">Contact Us</a>
                                <a class="btn btn-link" href="">Privacy Policy</a>
                                <a class="btn btn-link" href="">Terms & Condition</a>
                                <a class="btn btn-link" href="">Support</a>
                            </div>
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                                <a class="btn btn-link" href="">Food & Restaurant</a>
                                <a class="btn btn-link" href="">Spa & Fitness</a>
                                <a class="btn btn-link" href="">Sports & Gaming</a>
                                <a class="btn btn-link" href="">Event & Party</a>
                                <a class="btn btn-link" href="">GYM & Yoga</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">DVR</a>

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            <!--							Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>-->
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/resources/lib/wow/wow.min.js"></script>
    <script src="/resources/lib/easing/easing.min.js"></script>
    <script src="/resources/lib/waypoints/waypoints.min.js"></script>
    <script src="/resources/lib/counterup/counterup.min.js"></script>
    <script src="/resources/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/resources/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/resources/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/resources/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!--     Template Javascript -->
    <script src="/resources/js/main.js"></script>

    <!--    Date Time Picker-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script src="/resources/js/datetimepicker.js"></script>
    <script>
        function roomsServ() {
            var amount = document.getElementById("amount");
            const checkBox = document.getElementById("roomService");
            const text = document.getElementById("roomServiceAmount");
            const rooms = document.getElementById("roomsAmount");
            if (checkBox.checked === true){
                text.style.display = "block";
                amount.value = parseFloat(amount.value) + parseFloat(rooms.value);
            } else {
                text.style.display = "none";
                amount.value = parseFloat(amount.value) - parseFloat(rooms.value);
            }
        }

        function massageServ(){
            var amount = document.getElementById("amount");
            const  checkBox = document.getElementById("massageService");
            const text = document.getElementById("massageServiceAmount");
            const massage = document.getElementById("massageAmount");
            if (checkBox.checked === true){
                text.style.display = "block";
                amount.value = Number(amount.value) + Number(massage.value);
            } else {
                text.style.display = "none";
                amount.value = Number(amount.value) - Number(massage.value);
            }
        }
    </script>
</body>

</html>